@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

/* --- MENU --- */
nav{
    height: 70px;

    display: flex;
    flex-direction: row;
}

.menu{
    list-style: none;
    display: flex;
    flex-direction: row;

    margin-left: -8em;
}

.menu li:nth-child(1){
    border-bottom: solid;
    border-color: rgba(102, 165, 155, 0.603);
}

#menu-item{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin: 26px;
}

#menu-item a:hover{
    border-bottom: solid;
    border-color: rgba(85, 163, 150, 0.603);
}

#menu-item a{
    color: rgb(87, 85, 85);
}


#img-logo{
    width: 38%;
    margin-left: 16%;
}
/* --- END MENU --- */


/***  BANNER ***/
body{
    background-image: url(img/petsmedicationbackground.png);
    background-color: #FAFDFD !important;
}

.banner h1{
    position: absolute;
    text-align: center;
    left: 84vh;
    top: 26vh;

    font-size: 2.5em;
    font-family: 'Montserrat', sans-serif;
    color: rgb(114, 156, 142);
}

.banner img{
    opacity: 0.3;
}

.banner img:hover{
    background-color: rgb(114, 164, 240);
    border-radius: 50%;
}

#medicineicon{
    position: absolute;
    left: 40em;
    top: 30em;
}

#vaccineicon{
    position: absolute;
    left: 60em;
    top: 30em;
}

#healingicon{
    position: absolute;
    left: 50em;
    top: 30em;
}

.medicine-banner-info p{
    position: absolute;
    top: 34em;

    font-family: 'Montserrat', sans-serif;
    color: rgb(114, 161, 146);
    font-weight: 600;

}

.medicine-banner-info p:hover{
    color: rgb(114, 164, 240);
}

.medicine-banner-info p:nth-of-type(1){
    left: 38em;
}

.medicine-banner-info p:nth-of-type(2){
    left: 49.2em;
    top: 28em;
}

.medicine-banner-info p:nth-of-type(3){
    left: 60em;
}

/* BANNER MEDIA QUERIE */
@media (max-width: 800px){
.banner h1:nth-of-type(1){
    font-size: 3em;
    top: 20% !important;
}
}
/* END BANNER MEDIA QUERIE */

/***  END BANNER ***/